presubmits:
  GoogleCloudPlatform/gcs-fuse-csi-driver:
  - name: pull-gcs-fuse-csi-driver-e2e-test
    branches:
    - main
    always_run: true         # Run for every PR, or only when requested.
    labels:
      preset-service-account: "true"
    decorate: true
    spec:
      containers:
      - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20251209-13d7d11b0f-1.32
        command:
        - runner.sh
        args:
        - test/e2e/run-e2e-ci.sh
        securityContext:
          privileged: true
        resources:
          requests:
            memory: 1Gi
            ephemeral-storage: 5Gi
          limits:
            ephemeral-storage: 5Gi
        volumeMounts:
      volumes:
      - name: ssh
        secret:
          defaultMode: 256
          secretName: ssh-key-secret
          items:
          - key: ssh-private
            path: google_compute_engine
          - key: ssh-public
            path: google_compute_engine.pub