presubmits:
  GoogleCloudPlatform/artifact-registry-yum-plugin:
  - name: yum-plugin-presubmit-build
    cluster: gcp-guest
    run_if_changed: "packaging/"
    trigger: "(?m)^/packagebuild$"
    rerun_command: "/packagebuild"
    context: prow/presubmit/packagebuild
    decorate: true
    spec:
      containers:
      - image: gcr.io/gcp-guest/daisy-builder:latest
        imagePullPolicy: Always
        command:
        - "/main.sh"
        args: ["gcp-guest", "us-west1-a", "el7,el8"]
  GoogleCloudPlatform/artifact-registry-apt-transport:
  - name: apt-transport-presubmit-build
    cluster: gcp-guest
    run_if_changed: "packaging/"
    trigger: "(?m)^/packagebuild$"
    rerun_command: "/packagebuild"
    context: prow/presubmit/packagebuild
    decorate: true
    spec:
      containers:
      - image: gcr.io/gcp-guest/daisy-builder:latest
        imagePullPolicy: Always
        command:
        - "/main.sh"
        args: ["gcp-guest", "us-west1-a", "deb10"]
  - name: apt-transport-presubmit-gocheck
    cluster: gcp-guest
    run_if_changed: '\.go$'
    trigger: "(?m)^/gocheck$"
    rerun_command: "/gocheck"
    context: prow/presubmit/gocheck
    decorate: true
    spec:
      containers:
      - image: gcr.io/gcp-guest/gocheck:latest
        imagePullPolicy: Always
        command:
        - "/go/main.sh"
  - name: apt-transport-presubmit-gobuild
    cluster: gcp-guest
    run_if_changed: '\.go$'
    trigger: "(?m)^/gobuild$"
    rerun_command: "/gobuild"
    context: prow/presubmit/gobuild
    decorate: true
    spec:
      containers:
      - image: gcr.io/gcp-guest/gobuild:latest
        imagePullPolicy: Always
        command:
        - "/go/main.sh"
  - name: apt-transport-presubmit-gotest
    cluster: gcp-guest
    run_if_changed: '\.go$'
    trigger: "(?m)^/gotest$"
    rerun_command: "/gotest"
    context: prow/presubmit/gotest
    decorate: true
    spec:
      containers:
      - image: gcr.io/gcp-guest/gotest:latest
        imagePullPolicy: Always
        command:
        - "/go/main.sh"

  GoogleCloudPlatform/guest-configs:
  - name: gce-presubmit-build
    cluster: gcp-guest
    trigger: "(?m)^/packagebuild$"
    rerun_command: "/packagebuild"
    context: prow/presubmit/packagebuild
    decorate: true
    spec:
      containers:
      - image: gcr.io/gcp-guest/daisy-builder:latest
        imagePullPolicy: Always
        command:
        - "/main.sh"
        args: ["gcp-guest", "us-west1-a", "deb10,el7,el8,el9"]

  GoogleCloudPlatform/guest-diskexpand:
  - name: disk-expand-presubmit-build
    cluster: gcp-guest
    trigger: "(?m)^/packagebuild$"
    rerun_command: "/packagebuild"
    context: prow/presubmit/packagebuild
    decorate: true
    spec:
      containers:
      - image: gcr.io/gcp-guest/daisy-builder:latest
        imagePullPolicy: Always
        command:
        - "/main.sh"
        args: ["gcp-guest", "us-west1-a", "deb10,el7,el8,el9"]

  GoogleCloudPlatform/osconfig:
  - name: osconfig-presubmit-build
    cluster: gcp-guest
    run_if_changed: "packaging/"
    trigger: "(?m)^/packagebuild$"
    rerun_command: "/packagebuild"
    context: prow/presubmit/packagebuild
    decorate: true
    spec:
      containers:
      - image: gcr.io/gcp-guest/daisy-builder:latest
        command:
        - "/main.sh"
        args: ["gcp-guest", "us-west1-a", "deb10,deb11_arm64,el7,el8,el8_arm64,el9,el9_arm64,goo"]
  - name: osconfig-presubmit-gocheck
    cluster: gcp-guest
    run_if_changed: '\.go$'
    trigger: "(?m)^/gocheck$"
    rerun_command: "/gocheck"
    context: prow/presubmit/gocheck
    decorate: true
    annotations:
      testgrid-dashboards: googleoss-gcp-guest
      testgrid-tab-name: "OSConfig presubmits - gocheck"
    spec:
      containers:
      - image: gcr.io/gcp-guest/gocheck:latest
        imagePullPolicy: Always
        command:
        - "/go/main.sh"
  - name: osconfig-presubmit-gobuild
    cluster: gcp-guest
    run_if_changed: '\.go$'
    trigger: "(?m)^/gobuild$"
    rerun_command: "/gobuild"
    context: prow/presubmit/gobuild
    decorate: true
    annotations:
      testgrid-dashboards: googleoss-gcp-guest
      testgrid-tab-name: "OSConfig presubmits - gobuild"
    spec:
      containers:
      - image: gcr.io/gcp-guest/gobuild:latest
        imagePullPolicy: Always
        command:
        - "/go/main.sh"
  - name: osconfig-presubmit-gotest
    cluster: gcp-guest
    run_if_changed: '\.go$'
    trigger: "(?m)^/gotest$"
    rerun_command: "/gotest"
    context: prow/presubmit/gotest
    decorate: true
    annotations:
      testgrid-dashboards: googleoss-gcp-guest
      testgrid-tab-name: "OSConfig presubmits - gotest"
    spec:
      containers:
      - image: gcr.io/gcp-guest/gotest:latest
        imagePullPolicy: Always
        command:
        - "/go/main.sh"

  GoogleCloudPlatform/guest-agent:
  - name: guest-agent-integ
    cluster: gcp-guest
    run_if_changed: '\.go$'
    trigger: "(?m)^/gointeg$"
    rerun_command: "/gointeg"
    context: prow/presubmit/gointeg
    decorate: true
    spec:
      containers:
      - image: gcr.io/gcp-guest/gointegtest:latest
        imagePullPolicy: Always
        command:
        - "/main.sh"
        env:
        - name: ZONE
          value: us-west1-b
        - name: PROJECT
          value: gcp-guest
        - name: GCS_BUCKET
          value: gs://gcp-guest-test-outputs
  - name: guest-agent-presubmit-gocheck
    cluster: gcp-guest
    run_if_changed: '\.go$'
    trigger: "(?m)^/gocheck$"
    rerun_command: "/gocheck"
    context: prow/presubmit/gocheck
    decorate: true
    spec:
      containers:
      - image: gcr.io/gcp-guest/gocheck:latest
        imagePullPolicy: Always
        command:
        - "/go/main.sh"
  - name: guest-agent-presubmit-gobuild
    cluster: gcp-guest
    run_if_changed: '\.go$'
    trigger: "(?m)^/gobuild$"
    rerun_command: "/gobuild"
    context: prow/presubmit/gobuild
    decorate: true
    spec:
      containers:
      - image: gcr.io/gcp-guest/gobuild:latest
        imagePullPolicy: Always
        command:
        - "/go/main.sh"
  - name: guest-agent-presubmit-gotest
    cluster: gcp-guest
    run_if_changed: '\.go$'
    trigger: "(?m)^/gotest$"
    rerun_command: "/gotest"
    context: prow/presubmit/gotest
    decorate: true
    spec:
      containers:
      - image: gcr.io/gcp-guest/gotest:latest
        imagePullPolicy: Always
        command:
        - "/go/main.sh"
  - name: guest-agent-presubmit-build
    cluster: gcp-guest
    run_if_changed: "packaging/"
    trigger: "(?m)^/packagebuild$"
    rerun_command: "/packagebuild"
    context: prow/presubmit/packagebuild
    decorate: true
    spec:
      containers:
      - image: gcr.io/gcp-guest/daisy-builder:latest
        command:
        - "/main.sh"
        args: ["gcp-guest", "us-west1-a", "deb10,deb11_arm64,el7,el8,el8_arm64,el9,el9_arm64,goo"]

  GoogleCloudPlatform/guest-logging-go:
  - name: guest-logging-presubmit-gocheck
    cluster: gcp-guest
    run_if_changed: '\.go$'
    trigger: "(?m)^/gocheck$"
    rerun_command: "/gocheck"
    context: prow/presubmit/gocheck
    decorate: true
    spec:
      containers:
      - image: gcr.io/gcp-guest/gocheck:latest
        imagePullPolicy: Always
        command:
        - "/go/main.sh"
  - name: guest-logging-presubmit-gobuild
    cluster: gcp-guest
    run_if_changed: '\.go$'
    trigger: "(?m)^/gobuild$"
    rerun_command: "/gobuild"
    context: prow/presubmit/gobuild
    decorate: true
    spec:
      containers:
      - image: gcr.io/gcp-guest/gobuild:latest
        imagePullPolicy: Always
        command:
        - "/go/main.sh"
  - name: guest-logging-presubmit-gotest
    cluster: gcp-guest
    run_if_changed: '\.go$'
    trigger: "(?m)^/gotest$"
    rerun_command: "/gotest"
    context: prow/presubmit/gotest
    decorate: true
    spec:
      containers:
      - image: gcr.io/gcp-guest/gotest:latest
        imagePullPolicy: Always
        command:
        - "/go/main.sh"

  GoogleCloudPlatform/guest-oslogin:
  - name: oslogin-presubmit-build
    cluster: gcp-guest
    run_if_changed: "packaging/"
    trigger: "(?m)^/packagebuild$"
    rerun_command: "/packagebuild"
    context: prow/presubmit/packagebuild
    decorate: true
    spec:
      containers:
      - image: gcr.io/gcp-guest/daisy-builder:latest
        command:
        - "/main.sh"
        args: ["gcp-guest", "us-west1-a", "deb10,deb11,deb11_arm64,el7,el8,el8_arm64,el9,el9_arm64"]
  - name: oslogin-presubmit-selinux-module
    cluster: gcp-guest
    run_if_changed: "policy/"
    trigger: "(?m)^/modcheck$"
    rerun_command: "/modcheck"
    context: prow/presubmit/selinux_module_check
    decorate: true
    spec:
      containers:
      - image: gcr.io/gcp-guest/selinux-tools:latest
        imagePullPolicy: Always
        command:
        - "./selinux/validate.sh"
  - name: oslogin-presubmit-make-prowbuild
    cluster: gcp-guest
    always_run: true
    trigger: "(?m)^/build$"
    rerun_command: "/build"
    context: prow/presubmit/build
    decorate: true
    spec:
      containers:
      - image: gcr.io/gcp-guest/build-essential:latest
        imagePullPolicy: Always
        command:
        - make
        args:
        - prowbuild
  - name: oslogin-presubmit-test
    cluster: gcp-guest
    always_run: true
    trigger: "(?m)^/test$"
    rerun_command: "/test"
    context: prow/presubmit/test
    decorate: true
    spec:
      containers:
      - image: gcr.io/gcp-guest/build-essential:latest
        imagePullPolicy: Always
        command:
        - make
        args:
        - prowtest

  GoogleCloudPlatform/guest-test-infra:
  - name: infra-presubmit-fly-validate-pipelines
    cluster: gcp-guest
    run_if_changed: 'concourse/pipelines'
    trigger: "(?m)^/fly-validate$"
    rerun_command: "/fly-validate"
    context: prow/presubmit/fly-validate-pipelines
    decorate: true
    spec:
      containers:
      - image: gcr.io/gcp-guest/fly-validate-pipelines:latest
        imagePullPolicy: Always
        command:
        - "/main.sh"
        args: ["concourse/pipelines"]
  - name: infra-presubmit-gocheck
    cluster: gcp-guest
    run_if_changed: '\.go$'
    trigger: "(?m)^/gocheck$"
    rerun_command: "/gocheck"
    context: prow/presubmit/gocheck
    decorate: true
    spec:
      containers:
      - image: gcr.io/gcp-guest/gocheck:latest
        imagePullPolicy: Always
        command:
        - "/go/main.sh"
  - name: infra-presubmit-gobuild
    cluster: gcp-guest
    run_if_changed: '\.go$'
    trigger: "(?m)^/gobuild$"
    rerun_command: "/gobuild"
    context: prow/presubmit/gobuild
    decorate: true
    spec:
      containers:
      - image: gcr.io/gcp-guest/gobuild:latest
        imagePullPolicy: Always
        command:
        - "/go/main.sh"
  - name: infra-presubmit-gotest
    cluster: gcp-guest
    run_if_changed: '\.go$'
    trigger: "(?m)^/gotest$"
    rerun_command: "/gotest"
    context: prow/presubmit/gotest
    decorate: true
    spec:
      containers:
      - image: gcr.io/gcp-guest/gotest:latest
        imagePullPolicy: Always
        command:
        - "/go/main.sh"

periodics:
- name: cit-periodics
  cluster: gcp-guest
  decorate: true
  annotations:
    testgrid-dashboards: googleoss-gcp-guest
    testgrid-tab-name: cit-periodics
  interval: 1h
  spec:
    containers:
    - image: gcr.io/compute-image-tools/cloud-image-tests:latest
      imagePullPolicy: Always
      command:
      - "/manager"
      args:
      - "-project=gcp-guest"
      - "-zone=us-west1-a"
      - "-images=projects/bct-prod-images/global/images/family/debian-10,projects/bct-prod-images/global/images/family/debian-11,projects/bct-prod-images/global/images/family/centos-7,projects/bct-prod-images/global/images/family/centos-stream-8,projects/bct-prod-images/global/images/family/centos-stream-9,projects/bct-prod-images/global/images/family/rhel-7,projects/bct-prod-images/global/images/family/rhel-8,projects/bct-prod-images/global/images/family/rhel-9,projects/bct-prod-images/global/images/family/rocky-linux-8,projects/bct-prod-images/global/images/family/rocky-linux-8-optimized-gcp,projects/bct-prod-images/global/images/family/almalinux-8"
      - "-test_projects=compute-image-test-pool-002,compute-image-test-pool-003,compute-image-test-pool-004,compute-image-test-pool-005"
      - "-exclude=oslogin"
